* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

/* COMPONENTS */
button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 0 15px;
    line-height: 35px;
}

button.button-blue {
    background-color: #0061FF;
    color: white;
}

button.button-white {
    background-color: transparent;
    color: black;
}

.button {
    line-height: 45px;
    padding: 0 16px;
    text-align: center;
}

.button--blue {
    color: white;
    background-color: #0061FF;
}

.card .button {
    line-height: 40px;
    margin-bottom: 30px;
}

.col-4 .card .button {
    width: 100%;
}

.col-12 .card .button {
    padding: 0 40px;
    margin-bottom: 0;
}

.button--outlined {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

.button--white {
    padding: 0 50px;
    color: black;
    background-color: white;
}

/* LAYOUT */
.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-margin {
    margin: 0 -25px;
}

.col-60 {
    flex-basis: calc( (100% / 5) * 3 );
}

.col-40 {
    flex-basis: calc( (100% / 5) * 2 );
}

.col {
    padding: 0 25px;
    margin-bottom: 50px;
}

.col.col-12 {
    margin-bottom: 0;
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-12 {
    width: 100%;
}


/* HEADER */
.main-header {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    color: black;
    background-color: white;
}

.main-header .logo {
    height: 30px;
}

.main-header .nav__menu,
.main-header .utility {
    display: flex;
}

.main-header .nav__menu {
    gap: 30px;
}

.main-header .utility {
    margin-left: auto;
    align-items: center;
}

.main-header .utility a {
    margin-left: 30px;
}

/* HERO */
.hero {
    padding: 86px 0 16px 0;
    background-color: #B4D0E7;
}

.hero__title {
    font-size: 76px;
    font-weight: 700;
    margin-bottom: 48px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    min-height: 380px;
}

.hero__content i {
    font-size: 52px;
    margin-top: auto;
}

.hero__image {
    position: relative;
}

.hero__image img {
    position: absolute;
    top: 0;
    right: 0;
}

/* PLAN */
.hero + .section {
    padding-top: 160px;
}

#plan .radio-wrapper {
    margin-bottom: 40px;
}

#plan .radio-button {
    margin-right: 40px;
}

#plan .radio-button i {
    margin-right: 5px;
}

#plan .radio-button.checked i {
    color: #0061FF;
    -webkit-text-stroke: 4px;
}

/* CARD */
.section .card {
    border: 1px solid black;
    height: 100%;
}

.section .card__header {
    padding: 12px 0;
    border-bottom: 1px solid black;
    text-align: center;
}

.section .card__header i {
    margin-right: 5px;
}

.section .card__body {
    padding: 24px;
}

.card__body .card__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.card__body .card__price {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.card__body .card__frequency {
    margin-bottom: 48px;
}

.card__body .card__features {
    margin-bottom: 48px;
}

.card__body .card__features .feature {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 20px;
}

.card__link {
    color: #0061FF;
    text-decoration: underline;
}

.col-4 .card__body p {
    margin-bottom: 40px;
}

.section .card__body hr {
    width: 50px;
    color: black;
    margin-bottom: 50px;
}

.card__body .card__subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.card__body .card__features:last-of-type {
    margin-bottom: 0;
}

.card__body .card__features i.fa-check {
    color: #0061FF;
}

.card__body .content-primary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__body .content-secondary :first-child {
    font-weight: 700;
    margin-bottom: 50px
}

.col-12 .card__body .content-secondary {
    width: calc( (100% / 3 ) * 2 );
}

/* PARTNER */
#partner .section__content {
    padding-left: 45px;
}

#partner .section__title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

#partner .section__description {
    margin-bottom: 25px;
}

.section {
    padding: 75px 0;
}

.section__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* FEATURES */
#features .col {
    margin-bottom: 55px;
}

#features .feature__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* TEAM */
#team.section {
    padding-bottom: 0;
}

#team .content__wrapper {
    width: calc( (100% / 3) * 2 );
}

#team .section__link {
    color: #0061FF;
    text-decoration: underline;
    margin-bottom: 150px;
}

#team .container-100 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#team .col-6 {
    aspect-ratio: 1;
}

#team .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#team .logo-wrapper.selected {
    border: 15px solid #D1E9CD;
}

#team .logo-wrapper .logo {
    width: 180px;
    filter: brightness(0) invert(1);
}

#team .team__description {
    padding: 45px;
}

.wrapper--light-green {
    background-color: #A2D39B;
}

.wrapper--dark-pink {
    background-color: #61082B;
}

.wrapper--blue {
    background-color: #0093CE;
}

.wrapper--red {
    background-color: #FF1C1C;
}

.wrapper--dark-red {
    background-color: #D5001F;
}

.wrapper--light-blue {
    background-color: #B4D0E7;
}

.wrapper--dark-blue {
    background-color: #0D2481;
}

.wrapper--yellow {
    background-color: #FFD830;
}

.team__description {
    background-color: #F5F5F5;
    align-self: stretch;
}

.team__description .logo {
    height: 100px;
    margin-bottom: 35px;
}

.team__description .quote::before {
    content: '';
    display: block;
    width: 110px;
    border: 1px solid black;
}

.team__description .quote__text {
    padding-top: 40px;
    margin-bottom: 45px;
}

/* FREE TRIAL */
#free-trial {
    background-color: #B4D0E7;
}

#free-trial.section {
    padding: 125px 0;
}

#free-trial .section__title {
    margin-bottom: 0;
    color: #61082B;
}

#free-trial .button {
    float: right;
}

/* FAQ */
#faq.section {
    padding: 150px 0;
}

.accordion .accordion__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px 35px 0;
    border-bottom: 1px solid black;
}

.accordion .accordion__item:first-child {
    border-top: 1px solid black;
}

.accordion .accordion__title {
    font-size: 16px;
}

.accordion i {
    font-size: 16px;
}

/* FOOTER */
.main-footer {
    background-color: black;
    color: white;
}

.main-footer .col {
    padding: 0;
    margin: 0;
}

.footer-content {
    justify-content: space-between;
    padding: 104px 0 108px;
}

.footer-content .footer__title {
    font-size: 24px;
    margin-bottom: 24px;
}

.footer-content .footer__links a {
    line-height: 36px;
}

.main-footer hr {
    width: 120px;
    border-color: #6A6A6A;
}

.main-footer .select-wrapper {
    padding: 52px 0;
}

.main-footer .select-lang {
    display: flex;
    gap: 10px;
}

.main-footer select {
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.main-footer select,
.main-footer i {
    color: #6A6A6A;
}