* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

/* COMPONENTS */
button {
    background-color: transparent;
    border: none;
}

.button {
    background-color: #0061FF;
    color: white;
    font-size: 16px;
    padding: 0 15px;
    line-height: 35px;
}

.button-white {
    background-color: transparent;
    color: black;
}

.button--outlined {
    line-height: 45px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

.button--white {
    line-height: 45px;
    padding: 0 50px;
    color: black;
    background-color: white;
}

/* LAYOUT */
.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-margin {
    margin: 0 -25px;
}

.col-60 {
    flex-basis: calc( (100% / 5) * 3 );
}

.col-40 {
    flex-basis: calc( (100% / 5) * 2 );
}

.col {
    padding: 0 25px;
    margin-bottom: 40px;
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-12 {
    width: 100%;
}


/* HEADER */
.main-header {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    color: black;
    background-color: white;
}

.main-header .logo {
    height: 30px;
}

.main-header .nav__menu,
.main-header .utility {
    display: flex;
}

.main-header .nav__menu {
    gap: 30px;
}

.main-header .utility {
    margin-left: auto;
    align-items: center;
}

.main-header .utility a {
    margin-left: 30px;
}

/* HERO */
.hero {
    padding: 90px 0 20px 0;
    background-color: #B4D0E7;
}

.hero__header  {
    margin-bottom: 35px;
}

.hero__header .title {
    font-size: 76px;
    font-weight: 700;
}

/* SECTION */
.section__header {
    margin-bottom: 60px;
}

.section__header .title {
    font-size: 36px;
}

.section__body .radio-buttons {
    margin-bottom: 40px;
}

.section__body .radio-buttons span {
    margin-right: 40px;
}

.section .card {
    border: 1px solid black;
}

.section .card__header {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

.section .card__header i {
    margin-right: 5px;
}

.section .card__body {
    padding: 30px;
}

.button--w-100 {
    width: 100%;
    text-align: center;
}

.section .card__body hr {
    width: 50px;
    color: black;
}

.section .card__body .title {
    margin-bottom: 15px;
    font-size: 24px;
}

.section .card__body .price {
    margin-bottom: 15px;
    font-weight: 700
}

.section .card__body .rinnovo {
    margin-bottom: 45px;
}

.section .card__body li {
    margin-bottom: 15px;
}

.section .card__body .button {
    margin-top: 45px;
    margin-bottom: 15px;
}

.section .card__body a:last-child {
    margin-bottom: 45px;
}

.section .card__body h4 {
    margin-top: 45px;
    margin-bottom: 25px;
}

/* PARTNER */
#partner .section__content {
    padding-left: 45px;
}

#partner .section__title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

#partner .section__description {
    margin-bottom: 25px;
}

.section {
    padding: 75px 0;
}

.section__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* FEATURES */
#features .col {
    margin-bottom: 55px;
}

#features .feature__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* TEAM */
#team.section {
    padding-bottom: 0;
}

#team .content__wrapper {
    width: calc( (100% / 3) * 2 );
}

#team .section__link {
    color: #0061FF;
    text-decoration: underline;
    margin-bottom: 150px;
}

#team .container-100 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#team .col-6 {
    aspect-ratio: 1;
}

#team .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#team .logo-wrapper.selected {
    border: 15px solid #D1E9CD;
}

#team .logo-wrapper .logo {
    width: 180px;
    filter: brightness(0) invert(1);
}

#team .team__description {
    padding: 45px;
}

.wrapper--light-green {
    background-color: #A2D39B;
}

.wrapper--dark-pink {
    background-color: #61082B;
}

.wrapper--blue {
    background-color: #0093CE;
}

.wrapper--red {
    background-color: #FF1C1C;
}

.wrapper--dark-red {
    background-color: #D5001F;
}

.wrapper--light-blue {
    background-color: #B4D0E7;
}

.wrapper--dark-blue {
    background-color: #0D2481;
}

.wrapper--yellow {
    background-color: #FFD830;
}

.team__description {
    background-color: #F5F5F5;
    align-self: stretch;
}

.team__description .logo {
    height: 100px;
    margin-bottom: 35px;
}

.team__description .quote::before {
    content: '';
    display: block;
    width: 110px;
    border: 1px solid black;
}

.team__description .quote__text {
    padding-top: 40px;
    margin-bottom: 45px;
}

/* FREE TRIAL */
#free-trial {
    background-color: #B4D0E7;
}

#free-trial.section {
    padding: 125px;
}

#free-trial .section__title {
    margin-bottom: 0;
    color: #61082B;
}

#free-trial .button {
    float: right;
}

/* FAQ */
#faq.section {
    padding: 150px 0;
}

.accordion .accordion__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px 35px 0;
    border-bottom: 1px solid black;
}

.accordion .accordion__item:first-child {
    border-top: 1px solid black;
}

.accordion .accordion__title {
    font-size: 16px;
}

.accordion i {
    font-size: 16px;
}



/* DEBUG */